# Python / Bytecode
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Testing & Caching
.pytest_cache/
.coverage
htmlcov/
.schemathesis/

# Environment variables & local databases
.env
instance/
*.db
*.sqlite3

# IDE / OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
